<p>list-groups works!</p>
<div class="list-group">
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio
                <button class="btn btn-primary btn-block">
                    Ver
                </button>
                <button class="btn btn-warning btn-block">
                    Eliminar
                </button>
          </li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    <button class="btn btn-primary btn-block" [routerLink]="['/form-group']">
        Crear un grupo
    </button>
</div>

